.input{
    margin-left: 50px;
    font-size: 1.2em;
    font-weight: 700;
    color: black;
    border: none;
    width: 300px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.butSear{
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: rgb(85, 54, 0);
    width: 90px;
    height: 25px;
    border:none;
    background-color: #FFD700;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    
    .input{
        margin-left: 10px;
        font-size: 20px;
        width: 200px;
        height: 30px;
    }

    .butSear{
        margin-right: 0px;
        width: 60px;   
    }

}


@media screen and (max-width: 850px) and (min-width: 601px) {
    
    .input{
        margin-left: 0px;
        font-size: 20px;
        width: 200px;
        height: 30px;
    }

    .butSear{
        margin-left: 10px;
        width: 60px;   
    }

}

@media screen and (max-width: 1300px) and (min-width: 851px) {
    
    .input{
        margin-left: 0px;
        font-size: 20px;
        width: 250px;
        height: 30px;
    }

    .butSear{
        margin-left: 30px;
        width: 70px;   
    }

}
/* @media screen and (min-width: 601px) {
    
    .input{
        margin-left: 10px;
        font-size: 20px;
        width: 200px;
        height: 30px;
    }

    .butSear{
        margin-right: 0px;
        width: 60px;   
    }

} */